body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6bdf88;
    background-image: url("Watch_bg.jpg");
}

.stopwatch {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.display {
    font-size: 36px;
    margin-bottom: 20px;
}

.controls button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #080808;
    border: none;
    color: white;
    border-radius: 4px;
}

.controls button:hover {
    background-color: #45a049;
}

#laps {
    text-align: left;
    margin-top: 20px;
    padding-left: 0;
    list-style-type: none;
}

#laps li {
    margin-bottom: 5px;
}
